main h1 {
	font-size: 40px;
	background-color: #851944;
	color: #FFFFFF;
	text-align: center;
}
h2 {
	font-size: 30px;
}
h1, h2{
	font-family: "Open Sans Condensed sans-serif", sans-serif;
}
body {
	background-color: #F2FFFC;
}
p {
	text-align: justify;
	font-family: "Crimson Text serif", serif;
}
footer {
	background-color: black;
	color: #F2FFFC;
}
blockquote {
	background-color: #D9E5E3;
}
aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}
footer a {
	color: #F2FFFC;
}
main a {
	color: #851944;
}
ul {
	font-family: "Open Sans Condensed", sans-serif;
}
ul li a{
	color: inherit;
}

